<nav class="navbar" id="navbar">
    <a href="index.html"><img src="img/joinlogo.png" alt="" href="index.html"></a>
    <div class="nav-items text-white" id="nav-items">
        <div class="single-nav-item ">
            <div class="slected-nav-item active"></div><a href="index.html" class="nav-link" aria-current="page">
            <h5>Board</h5></a>
        </div>
        <div class="single-nav-item">
            <div class="slected-nav-item"></div><a href="backlog.html" class="nav-link" aria-current="">
            <h5>Backlog</h5></a>
        </div>
        <div class="single-nav-item">
            <div class="slected-nav-item"></div><a href="addTask.html" class="nav-link" aria-current="">
            <h5>Add Task</h5></a>
        </div>
        <div class="single-nav-item">
            <div class="slected-nav-item"></div><a href="help.html" class="nav-link" aria-current="">
            <h5>Help</h5></a>
        </div>
        <hr class="navbar-hr">
        <div class="single-nav-item">
            <div class="slected-nav-item"></div><a href="about.html" class="nav-link" aria-current="">
            <h5>About</h5></a>
        </div>
        <div class="single-nav-item">
            <div class="slected-nav-item"></div><a href="welcome.html" class="nav-link" aria-current="">
            <h5>Logout</h5></a>
        </div>
    </div>
    <img src="img/blank_profil.png" class="profil-img rounded-circle border border-2 border-white " alt="profil">
</nav>

<div class="mobile-nav">
    <a class="burger-container" onclick="toggleNavbar()">
        <div class="burger-line"></div>
        <div class="burger-line"></div>
        <div class="burger-line"></div>
    </a>
</div>