body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    position: absolute;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    opacity: 0.6;
}

input {
    outline: none;
}

.opacity-zero {
    opacity: 0;
}

.welcome-card {
    height: 300px;
    width: 500px;
    background-color: #F4F3FB;
    outline: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0 0 13px rgb(0 0 0 / 10%);
    display: flex;
    margin: 15px;
    z-index: 2;
}

.welcome-card-left-container {
    background-color: #212b5e;
    border-radius: 10px 0 0 10px;
    width: 22%;
    display: flex;
    justify-content: center;
}

.welcome-card-left-container img {
    margin-top: 24px;
    height: 71px;
    width: 60px;
}

.welcome-card-right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 78%;
}

.welcome-card-right-container h1 {
    margin-top: 24px;
    margin-bottom: 36px;
}

.user-container, .password-container {
    display: flex;
}

.user-container {
    margin-bottom: 16px;
}

.password-container {
    margin-bottom: 4px;
}

.width75 {
    width: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 24px;
}

.welcome-card-right-container input {
    height: 30px;
}

#wrong-login-data-container, #wrong-data-container, .testing {
    font-size: 10px !important;
    padding-left: 70px;
    font-style: italic;
}

#wrong-data-container {
    min-height: 15px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}

.welcome-card-right-container button {
    border: 0;
    background-color: #212b5e;
    color: white;
    border-radius: 5px !important;
    height: 30px;
    padding-left: 18px;
    padding-right: 18px;
    margin-right: 56px;
    margin-bottom: 24px;
}

#signup-card h1 {
    margin-bottom: 21px;
}

#signup-card h2 {
    font-size: 16px;
    margin-left: 13px;
    margin-bottom: 21px;
}

.method-toggle {
    background-color: #B01616 !important;
    margin-right: 16px !important;
}

.guest {
    margin-right: 16px !important;
}

@media (max-width:582px) {
    .button-container {
        width: 278.5px !important;
    }

    #login {
        margin-right: 0;
    }

    .method-toggle {
        margin-right: 0;
    }
}

@media (max-width:430px) {
    .welcome-card {
        flex-direction: column;
        height: 385px;
    }

    .welcome-card-right-container {
        width: 100%;
        height: 273px;
    }

    .welcome-card-left-container {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .welcome-card-left-container img {
        margin-bottom: 24px;
    }

    #login {
        margin-top: 24px;
    }

    .button-container #login {
        margin-top: 7px !important;

    }

    #signup-card h2 {
        font-size: 15px;
        margin-left: 0px;
    }

    .width75 {
        margin-right: 16px !important;
    }
    .guest {
        margin-right: 8px !important;
    }

    .method-toggle {
        margin-right: 8px !important;
    }
}